@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 125%;
}

@layer components {
	.border-inset-up-blue {
		@apply border-4;
		border-bottom-color: theme('colors.blue.800');
		border-right-color: theme('colors.blue.800');
		border-top-color: theme('colors.blue.100');
		border-left-color: theme('colors.blue.100');
	}

	.border-inset-down-blue {
		@apply border-4;
		border-top-color: theme('colors.blue.800');
		border-left-color: theme('colors.blue.800');
		border-bottom-color: theme('colors.blue.100');
		border-right-color: theme('colors.blue.100');
	}

	.border-inset-up-red {
		@apply border-4;
		border-bottom-color: theme('colors.red.900');
		border-right-color: theme('colors.red.900');
		border-top-color: theme('colors.red.300');
		border-left-color: theme('colors.red.300');
	}

	.border-inset-down-red {
		@apply border-4;
		border-top-color: theme('colors.red.900');
		border-left-color: theme('colors.red.900');
		border-bottom-color: theme('colors.red.300');
		border-right-color: theme('colors.red.300');
	}
}
