@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 125%;
}

@layer components {
	.border-inset-up-blue {
		border-bottom: solid theme('borderWidth.4') theme('colors.blue.800');
		border-right: solid theme('borderWidth.4') theme('colors.blue.800');
		border-top: solid theme('borderWidth.4') theme('colors.blue.100');
		border-left: solid theme('borderWidth.4') theme('colors.blue.100');
	}

	.border-inset-down-blue {
		border-top: solid theme('borderWidth.4') theme('colors.blue.800');
		border-left: solid theme('borderWidth.4') theme('colors.blue.800');
		border-bottom: solid theme('borderWidth.4') theme('colors.blue.100');
		border-right: solid theme('borderWidth.4') theme('colors.blue.100');
	}

	.border-inset-up-red {
		border-bottom: solid theme('borderWidth.4') theme('colors.red.900');
		border-right: solid theme('borderWidth.4') theme('colors.red.900');
		border-top: solid theme('borderWidth.4') theme('colors.red.300');
		border-left: solid theme('borderWidth.4') theme('colors.red.300');
	}

	.border-inset-down-red {
		border-top: solid theme('borderWidth.4') theme('colors.red.900');
		border-left: solid theme('borderWidth.4') theme('colors.red.900');
		border-bottom: solid theme('borderWidth.4') theme('colors.red.300');
		border-right: solid theme('borderWidth.4') theme('colors.red.300');
	}
}
